html {
  background-image: linear-gradient(to bottom right, grey, black);   
}
body{
   padding: 0px;
   margin: 0px;
 }
#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
head{
    background: black;
}
h1{
    height: 250px;
    
}
h2{
    height: 150px;
}
h3{
    height: 100px;
        background-color: grey;

}
h4{
        height: 50px;
    background-color: white;

}
.topCans,.topA,.topB,.topC {
    padding: 0;
text-align: center;
  float: left;
    height: 50%;
    min-width: 32%;
  max-width: 32%;
}

.midCans,.midA,.midB{
    background-color: grey;
    margin-left: 5%;
    border-style: solid;
    border-color: black;
    text-align: center;
    float: left;
    min-height: 100%;
    width: 40%;
}
.botCans {
    text-align: center;
 background-color: grey;
 border-style: solid;
    border-color: black;
    float: left;
    height: 70%;
    min-width: 32.1%;
}
.bonus {
    background-color: grey;
    border-color: black;
    text-align: center;
    font-size: 25px;
    height: 40%;

  min-width: 98%;
    max-width: 90%;
}
.enter {
    background-color: grey;
text-align: center;
    border-style: solid;
    border-color: black;
    height: 100%;

  min-width: 100%;
}